*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,li{
  margin: 0;
  list-style: none;
}
.container{
  width: 100vw;
  height: 100vh;
  display: flex;
}
::-webkit-scrollbar {
  display: none;
}

.nav{
  width: 30vw;
  height: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
}
.main{
  padding: 10px;
  width: 70vw;
  height: 100%;
  background-color: #ddd;
}

.pActive{
  background-color: lightblue;
  color: yellow;
}